.main { 
  background-color: #202124;
  color: whitesmoke;
}

.tabs{
  display: block;
 
}


.tabs button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;

  align-content: right;
}


.no-active-note {
  background-color: #202124;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}

.main-note-edit {
  padding: 25px;
}

.main-note-edit input,
textarea {
  display: block;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  width: 100%;
  height: calc(100vh - 220px);
  padding: 10px;
  resize: none;
  font-size: inherit;
  font-family: inherit;
}
.main-note-edit input {
  height: 50px;
  font-size: 2rem;
}


.main-note-preview {
  border-top: 1px solid #ddd;
  overflow-y: scroll;
  height: 700px;
  background-color: #202124;
}

.preview-title {
  padding: 25px 25px 0 25px;
  margin: 0;
}

.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}
